.toggle {
  display: flex;
  align-items: center;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 1rem 1.8rem;
  padding-bottom: 1.4rem;
  position: relative;

  &--dark {
    background-color: var(--very-dark-grayish-blue);
    padding-bottom: 1rem;
  }

  &__btn {
    border: none;
    border-radius: 100%;
    padding: 0.5rem;
    margin-left: auto;
    background-color: var(--light-grayish-blue);
    color: var(--very-dark-grayish-blue);
    &--clicked {
      background-color: var(--desaturated-dark-blue);
      color: var(--light-grayish-blue);
    }
  }

  @media screen and (min-width: 769px) {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    padding: 2rem 2.5rem;
    padding-top: 1.5rem;

    &--dark {
      background-color: unset;
    }
  }
}
