.toggle {
  display: flex;
  align-items: center;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 1rem 1.8rem;
  padding-top: 0;

  &--dark {
    background-color: var(--very-dark-grayish-blue);
    padding-top: 1rem;
  }

  &__btn {
    border: none;
    border-radius: 100%;
    padding: 0.5rem;
    margin-left: auto;
    background-color: var(--light-grayish-blue);
    &--clicked {
        background-color: var(--desaturated-dark-blue);
    }
  }
}
